<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp2.Properties.Settings.inform_system_baseConnectionString"
            connectionString="Data Source=81.30.105.76;Initial Catalog=inform_system_base;Persist Security Info=True;User ID=student;Password=m4p8DXCF"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
</configuration>